@use "../styles/global.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.home__textareaWrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.home__textarea {
  width: 100%;
  max-width: 700px;
  height: 150px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #1c72d5;
  background: #22222C;
  color: #fff;
  transition: border-color 0.3s;

  &:focus,
  &:hover {
    border-color: #8e066c;
    background: #2B2B35;
    outline: none;
  }
}

.home__copy_button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;

  svg {
    fill: #06b5e0;
    transition: 0.3s;
  }

  svg:hover {
    fill: #f702a3;
  }

}

.home__options {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  gap: 12px;
}

.home__checkbox {
  flex: 0 1 49%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #06b5e0;
  position: relative;
  padding-left: 32px;
  user-select: none;
  transition: color 0.4s ease-in-out, transform 0.2s ease;

  input {
    position: absolute;
    display: none;
  }

  &:hover,
  &:focus {
    color: #c63fa4;
  }
}

.home__checkboxCustom {
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background: #162732;
  border: 2px solid #06b5e0;
  border-radius: 4px;
  transition: 0.3s ease;
}

.home__checkbox input:checked+.home__checkboxCustom {
  background: linear-gradient(45deg, #06b5e0, #f702a3);
  border-color: #f702a3;
  box-shadow: 0 0 8px #06b5e0;
}

.home__checkbox input:checked+.home__checkboxCustom::after {
  content: "✔";
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.home__clear_button {
  padding: 10px 20px;
  background: linear-gradient(135deg, #1c72d5, #8e066c);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid #0c9de0;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: linear-gradient(135deg, #8e066c, #1c72d5);
    border: 2px solid #df0daa;
  }
}


@media screen and (max-width: 768px) {
  .home__checkbox {
    font-size: 16px;
  }
}



@media screen and (max-width: 525px) {

  .home__checkbox {
    flex: 0 1 48%;
  }

  .home__checkbox {
    font-size: 14px;
  }
}